@import "fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

:root {
  --base-color: #8bc052;
}

body,
html,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

p {
  word-wrap: break-word;
}

img {
  width: 100%;
  height: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}